/*
 ** Colors
*/
sq-blue = #4B72B0
sq-yellow = #F0F113
sq-red = #FF4D52

calendar-apply = #D4E5D1
calendar-comfirm = #E1E1B0
calendar-holiday = #A3ABA2

googleColor = #444444
facebookColor = #4267B2
twitterColor = #1DA1F2
